{% load baitur %}
{% if is_paginated %}
    <nav class="pagination">
        {% if page_obj.has_previous %}
            <a href="?{% query_replace page=page_obj.previous_page_number %}">←</a>
        {% endif %}
        {% for num in paginator.page_range %}
            {% if num == page_obj.number %}
                <span class="is-active">{{ num }}</span>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?{% query_replace page=num %}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?{% query_replace page=page_obj.next_page_number %}">→</a>
        {% endif %}
    </nav>
{% endif %}
